
.navbar {
    display: flex;
    justify-content: flex-end; 
    background-color: $navbar-bg-color;
    border-radius: 10px;
    padding: 0;

& ul {
  display: flex; 
  gap: 10px; 
  margin: 0; 
  padding: 30px; 
  font-size: larger;
  font-family: fantasy;
}

& li {
  list-style: none;
}

& a {
  text-decoration: none;
  color: $navbar-link-color;
}

& a:hover {
  background-color: $navbar-link-color;
  border-radius: 5px;
  color: white;
}


}
