/* Stack events on small screens */
@media (max-width: 768px) {
    .event {
      width: 100%;
    }
    .contact-form {
      margin: 0 auto;
    }
    h1 {
      font-size: x-large;
    }
    .navbar ul {
      padding:15px;
      margin: 0 auto;
    }
  }